* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.nav1 {
  border-top: solid;
  border-bottom: solid;
  border-color: tomato;
}

.name {
  margin-left: 100px;
  letter-spacing: 10px;
  font-weight: 600;
}

body .container {
  padding: 60px 15px 0;
  min-height: 100%;
  display: grid;
}

#contentBox {
  box-sizing: border-box;
  border: solid;
  margin: -15px auto 35px auto;
  margin-bottom: 100px;
  width: 100%;
  padding: 20px;
  background: #e6e8e8;
  border-style: solid;
  border-color: tomato;
  border-width: 3px;
  border-radius: 15px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.pageTitle {
  font-weight: 400;
}

#me {
  width: 200px;
  height: 200px;
  margin: 0 0 0 10px;
  padding-right: 15px;
  float: left;
}

.icon {
  /* width: 100%; */
  display: flex;
  font-size: 3rem;
  margin: 60px auto 60px auto;
  justify-content: space-evenly;
  color: tomato;

}

.icon:hover {
  opacity: .5;
}

#submit {
  background-color: tomato;
  color: white;
  border: solid .5px lightgray;
  padding: 5px 10px;
}

.wrapper {
  position: relative;
}

.card {
  margin: 20px auto 20px 35px;
  border-top: none;
  position: relative;
  float: left;
  height: 550px;
}

.image {
  height: 150px;
  width: 17.85rem;
}

li {
  list-style-type: none;
}

.footer {
  text-align: center;
  justify-content: center;
  color: white !important;
}

.footer-text {
  width: 100%;
  margin-right: 0;
}

.footerEmail {
  color: tomato;
}